body{
    padding: 20px 20%;
}
.header{
    display: flex;
}
.header5{
    display: flex;
}
.header-heading{
    display: inline-block;
}
.header-button{
    display: inline;
    margin-left: auto;
    margin-right: 0;
}
.green_div{
    background-color: limegreen;
    color: white;
    width: fit-content;
    padding: 0 5px;
}
